:root{
  --back_ground_color: linear-gradient(to bottom, #7a60ff, #cd4efc);
}
body {
  font-family:  sans-serif;
  /* font-family: Avenir Next, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, system-ui, -apple-system, sans-serif; */
  background: #f8f8f8; 
  /* background: #fbfcfe; */
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background:  var(--back_ground_color);
  color: #fff;
  /* text-align: center; */
  padding: 1em 0;
  z-index: 1;
}
.logo{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px 0px 20px 0px;
  margin-left: 30px;
  /* animation: mymove 5s infinite; */
}
/* @keyframes mymove {
  50% {border-radius: 20px 0px 20px 0px;}
} */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav{
  float: right;
  padding-top: 1%;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}


nav ul li a {
  text-decoration: none;
  color: #fff;
  /* font-weight: bold; */
}
.custom_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  /* text-align: center; */
  padding: 10px;
}
.vision{
  margin: 40px 30px;
  height: 500px;
  background-color: #ffffff;
  padding: 40px;
}
.crad{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.highlight{
  line-height: 1.2;
  font-family: Avenir Next, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, system-ui, -apple-system, sans-serif;
  font-size: 30px;
  font-weight: 500;

}
p{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.8;
}
section {
  padding: 2em;
}

footer {
  background:  var(--back_ground_color);
  color: #fff;
  text-align: center;
  padding: 1em 0;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
  